/*
 * Copyright (c) 2023 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#define ZMK_POINTING_DEFAULT_SCRL_VAL 300

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/pointing.h>


/ {

    macros {
        ger_at: ger_at {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp RALT>
                , <&macro_tap &kp Q>
                , <&macro_release &kp RALT>
                ;
        };

        ger_euro: ger_euro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp RALT>
                , <&macro_tap &kp E>
                , <&macro_release &kp RALT>
                ;
        };

        ger_lbkt: ger_lbkt {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp RALT>
                , <&macro_tap &kp N8>
                , <&macro_release &kp RALT>
                ;
        };

        ger_rbkt: ger_rbkt {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp RALT>
                , <&macro_tap &kp N9>
                , <&macro_release &kp RALT>
                ;
        };

        ger_lbrc: ger_lbrc {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp RALT>
                , <&macro_tap &kp N7>
                , <&macro_release &kp RALT>
                ;
        };

        ger_rbrc: ger_rbrc {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp RALT>
                , <&macro_tap &kp N0>
                , <&macro_release &kp RALT>
                ;
        };

        ger_tilde: ger_tilde {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp RALT>
                , <&macro_tap &kp RBKT>
                , <&macro_release &kp RALT>
                ;
        };

        ger_bslh: ger_bslh {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp RALT>
                , <&macro_tap &kp MINUS>
                , <&macro_release &kp RALT>
                ;
        };

        ger_pipe: ger_pipe {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp RALT>
                , <&macro_tap &kp NUBS>
                , <&macro_release &kp RALT>
                ;
        };

        scade_input: scade_input {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LCTRL>
                , <&macro_press &kp LSHFT>
                , <&macro_tap &kp I>
                , <&macro_release &kp LSHFT>
                , <&macro_release &kp LCTRL>
                ;
        };

        scade_output: scade_output {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LCTRL>
                , <&macro_press &kp LSHFT>
                , <&macro_tap &kp O>
                , <&macro_release &kp LSHFT>
                , <&macro_release &kp LCTRL>
                ;
        };

        scade_local: scade_local {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LCTRL>
                , <&macro_press &kp LSHFT>
                , <&macro_tap &kp L>
                , <&macro_release &kp LSHFT>
                , <&macro_release &kp LCTRL>
                ;
        };

        scade_probe: scade_probe {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LCTRL>
                , <&macro_press &kp LSHFT>
                , <&macro_tap &kp B>
                , <&macro_release &kp LSHFT>
                , <&macro_release &kp LCTRL>
                ;
        };

        ger_not: ger_not {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp RALT>
                , <&macro_tap &kp N6>
                , <&macro_release &kp RALT>
                ;
        };

        ger_mu: ger_mu {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp RALT>
                , <&macro_tap &kp M>
                , <&macro_release &kp RALT>
                ;
        };
    };

    behaviors {
        mod_morph_space: space_ret {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp SPACE>, <&kp RET>;
            mods = <(MOD_LCTL|MOD_RCTL)>;
        };

        mod_morph_ret: ret_space {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp RET>, <&kp SPACE>;
            mods = <(MOD_LCTL|MOD_RCTL)>;
        };

        mod_morph1: one_exclemation {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp N1>, <&kp EXCL>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        mod_morph2: two_doublequote {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp N2>, <&ger_at>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        mod_morph3: three_hash {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp N3>, <&kp BSLH>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        mod_morph4: four_dollar {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp N4>, <&kp DOLLAR>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        mod_morph5: five_perc {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp N5>, <&kp PRCNT>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        mod_morph6: six_hat {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp N6>, <&kp GRAVE>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        mod_morph7: seven_amps {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp N7>, <&kp CARET>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        mod_morph8: eight_star {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp N8>, <&kp RBRC>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        mod_morph9: nine_rbrack {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp N9>, <&kp STAR>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        mod_morph0: zero_lbrack {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp N0>, <&kp LPAR>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        mod_morph_fslash: fslash_question {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp AMPS>, <&kp UNDER>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        mod_morph_comma: comma_lessthan {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp COMMA>, <&kp NUBS>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        mod_morph_dot: dot_greaterthan {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp DOT>, <&kp PIPE2>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        mod_morph_colon: semicolon_colon {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp LT>, <&kp GT>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        mod_morph_minus: minus_under {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp FSLH>, <&kp QMARK>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        mod_morph_grave: grave_quote {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp PIPE>, <&kp AT>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        mod_morph_mouse: lclk_mclk {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&mkp LCLK>, <&mkp MCLK>;
            mods = <(MOD_LCTL|MOD_RCTL)>;
        };

        mo_tog: behavior_mo_tog {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "hold-preferred";
            tapping-term-ms = <200>;
            bindings = <&mo>, <&tog>;
        };

        td0: tap_dance_shift_left {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp LSHFT>, <&kp CAPS>;
        };

        td1: tap_dance_shift_right {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp RSHFT>, <&kp CAPS>;
        };

        tdl1: tap_dance_layer1_switch {
            compatible = "zmk,behavior-tap-dance";
            tapping-term-ms = <200>;
            #binding-cells = <0>;
            bindings = <&mo 1>, <&tog 2>;
        };

        tdl2: tap_dance_layer2_switch {
            compatible = "zmk,behavior-tap-dance";
            tapping-term-ms = <200>;
            #binding-cells = <0>;
            bindings = <&mo 1>, <&tog 3>;
        };

        scroll_ver: scroll_ver {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            bindings = <&msc SCRL_DOWN>, <&msc SCRL_UP>;
            tap-ms = <200>;
        };

        scroll_hor: scroll_hor {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            bindings = <&msc SCRL_LEFT>, <&msc SCRL_RIGHT>;
            tap-ms = <200>;
        };
    };


    keymap {
        compatible = "zmk,keymap";

        default_layer {
// ----------------------------------------------------------------------------------------------------------------
// |  ESC  |  1  |  2  |  3   |  4   |  5   |                       |  6   |  7    |  8   |  9   |   0   |   /   |
// |  TAB  |  Q  |  W  |  E   |  R   |  T   |                       |  Z   |  U    |  I   |  O   |   P   |   '   |
// | SHIFT |  A  |  S  |  D   |  F   |  G   |                       |  H   |  J    |  K   |  L   |   ;   | SHIFT |
// |  CTRL |  Y  |  X  |  C   |  V   |  B   |SCROLL|  |SCROLL|  N   |  M   |  ,    |  .   |  -   |  CTRL |
//               | ALT |INSERT| GUI  | LOWER|SPACE |  |ENTER | LOWER| BSPC |DELETE | RALT |
            bindings = <
&kp ESC   &mod_morph1 &mod_morph2 &mod_morph3 &mod_morph4 &mod_morph5                              &mod_morph6 &mod_morph7 &mod_morph8      &mod_morph9    &mod_morph0       &mod_morph_fslash
&kp TAB   &kp Q       &kp W       &kp E       &kp R       &kp T                                    &kp Y       &kp U       &kp I            &kp O          &kp P             &mod_morph_grave
&td0      &kp A       &kp S       &kp D       &kp F       &kp G                                    &kp H       &kp J       &kp K            &kp L          &mod_morph_colon  &td1
&kp LCTRL &kp Z       &kp X       &kp C       &kp V       &kp B &tog 4            &tog 4           &kp N       &kp M       &mod_morph_comma &mod_morph_dot &mod_morph_minus &kp RCTRL
                      &kp LALT    &kp INS     &kp LGUI    &tdl1 &mod_morph_ret    &mod_morph_space &tdl2       &kp BSPC         &kp DEL        &kp RALT
            >;

            sensor-bindings = <&inc_dec_kp UP DOWN &inc_dec_kp LEFT RIGHT>;
        };

        lower_layer {
// ---------------------------------------------------------------------------------------------------------
// |  F1  |  F2  |  F3  |  F4  |  F5  |  F6  |                   |  F7  |  F8  |  F9  |  F10 |  F11 |  F12 |
// |      |  ^   |  °   | EURO |  {   |  }   |                   |  \   |  ue  |  ~   |  oe  |  =   |  +   |
// |      |  ae  |  ss  |  ^   |  [   |  ]   |                   |  [   |  ]   |  ^   |  {   |  }   |      |
// |      |  "|" |  <-  |  v   |  ->  |  ¬   |        |  |       |  µ   |  <-  |  v   |  ->  |      |      |
//               |      |      |      |      |        |  |       |      |      |      |      |
            bindings = <
&kp F1 &kp F2    &kp F3    &kp F4    &kp F5    &kp F6                     &kp F7    &kp F8    &kp F9     &kp F10   &kp F11   &kp F12
&trans &kp GRAVE &kp TILDE &ger_euro &ger_lbrc &ger_rbrc                  &ger_bslh &kp LBKT  &ger_tilde &kp SEMI  &kp RPAR  &kp RBKT
&trans &kp SQT   &kp MINUS &kp UP    &ger_lbkt &ger_rbkt                  &ger_lbkt &ger_rbkt &kp UP     &ger_lbrc &ger_rbrc &trans
&trans &ger_pipe &kp LEFT  &kp DOWN  &kp RIGHT &ger_not  &trans    &trans &ger_mu   &kp LEFT  &kp DOWN   &kp RIGHT &trans    &trans
                 &trans    &trans    &trans    &trans    &trans    &trans &trans    &trans    &trans     &trans
            >;

            sensor-bindings = <&inc_dec_kp UP DOWN &inc_dec_kp LEFT RIGHT>;
        };

        scade_layer {
            bindings = <
&trans  &trans        &trans         &trans        &trans        &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &scade_input  &scade_output  &scade_local  &scade_probe  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans        &trans         &kp UP        &trans        &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans        &kp LEFT       &kp DOWN      &kp RIGHT     &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
                      &trans         &trans        &trans        &trans  &trans    &trans  &trans  &trans  &trans  &trans
            >;

            sensor-bindings = <&inc_dec_kp UP DOWN &inc_dec_kp LEFT RIGHT>;
        };

        numpad_layer {
            bindings = <
&trans  &kp KP_NLCK &kp N7  &kp N8  &kp N9  &trans                       &trans  &kp N7  &kp N8  &kp N9  &kp KP_NLCK &trans
&trans  &trans      &kp N4  &kp N5  &kp N6  &trans                       &trans  &kp N4  &kp N5  &kp N6  &trans      &trans
&trans  &trans      &kp N1  &kp N2  &kp N3  &trans                       &trans  &kp N1  &kp N2  &kp N3  &trans      &trans
&trans  &trans      &trans  &kp N0  &trans  &trans  &trans    &trans     &trans  &trans  &kp N0  &trans  &trans      &trans
                    &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
            >;

            sensor-bindings = <&inc_dec_kp UP DOWN &inc_dec_kp LEFT RIGHT>;
        };

        scroll_layer {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
                &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
            >;

            sensor-bindings =
                <&scroll_ver>,
                <&scroll_hor>;
        };
    };
};
